<div id='newStoryHead'><h2>Create A Story</h2></div>




<%= form_for @story do |s| %>
<div id='formForStory'>
	<div class='fieldsNew'>Title: <%= s.text_field :title, :class => 'title' %>	
</div>

	<br>


	<div class='fieldsNew'>Genre:</div>
	<%= s.text_field :genre, :class => 'genre' %><br>
	<div class='fieldsNew'>Content: </div>
	<%= s.text_area :content, :class => 'content'%><br>
	<div id='submitNew'><%= s.submit %></div>
</div>
<% end %>



