<div id='newStoryHead'><h2>Create A Story</h2></div>




<%= form_for @story do |s| %>
<div id='formForStory'>
	<div class='fieldsNew'>Title:</div>
	<div id='box1'><%= s.text_field :title %><br></div>
	<div class='fieldsNew'>Genre:</div>
	<div id='box2'><%= s.text_field :genre %><br></div>
	<div class='fieldsNew'>Content: </div>
	<div id='box3'><%= s.text_area :content, :class => 'content'%><br></div>
	<div id='submitNew'><%= s.submit %></div>
</div>
<% end %>
