<!DOCTYPE html>
<html>
  <head>
    <title>StoryBuilder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Stories", stories_path %></li>
          <li><%= link_to "New Story", new_story_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>

    </nav>



  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
