<!DOCTYPE html>
<html>
  <head>
    <title>StoryBuilder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<title></title>
</head>
<body>
  
<div id="bubbleletters">
  <div id="letters"><h1><span>S</span><span>t</span><span>o</span><span>r</span><span>y</span><span> </span><span>B</span><span>u</span><span>i</span><span>l</span><span>d</span><span>e</span><span>r</span><span>!</span></h1></div>
    
</div>
      <nav>
        <ul>
          <% if (user_signed_in?) %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Stories", stories_path %></li>
          <li><%= link_to "New Story", new_story_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
          <% end %>

          <% if (!user_signed_in?) %>
          <li><%= link_to "Login", new_user_session_path %>
          <% end %>
        </ul>

    </nav>



  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
